@charset "utf-8";
/* CSS Document */
/*Projet - Site*/
/*Ajout*/
.popupSite { background-color:#FFFFFF; width:610px; top:50%; left:50%; z-index:1; margin:-10px 0 0 -317px; position:absolute; border:1px solid #7f7f7f; display:block; padding-bottom:18px;  }
.popupSite form.formAjoutSite { margin-top:0; }
.popupSite form.formAjoutSite p { margin-bottom:2px; }
.popupSite form.formAjoutSite p label { width:140px; }


.popupSiteModif { background-color:#FFFFFF; width:610px; top:50%; left:50%; z-index:1; margin:-10px 0 0 -317px; position:absolute; border:1px solid #7f7f7f; display:block; padding-bottom:18px;  }
.popupSiteModif form.formModifSite { margin-top:0; }
.popupSiteModif form.formModifSite p { margin-bottom:2px; }
.popupSiteModif form.formModifSite p label { width:140px; }

/*Casting dvd*/
.popupCasting { background-color:#FFFFFF; width:610px; top:50%; left:50%; z-index:1; margin:-10px 0 0 -317px; position:absolute; border:1px solid #7f7f7f; display:block; padding-bottom:18px;  }
.popupCasting form.formAjoutCasting { margin-top:0; }
.popupCasting form.formAjoutCasting p { margin-bottom:2px; }
.popupCasting form.formAjoutCasting p label { width:140px; }

.popupCastingModif { background-color:#FFFFFF; width:610px; top:50%; left:50%; z-index:1; margin:-10px 0 0 -317px; position:absolute; border:1px solid #7f7f7f; display:block; padding-bottom:18px;  }
.popupCastingModif form.formModifCasting { margin-top:0; }
.popupCastingModif form.formModifCasting p { margin-bottom:2px; }
.popupCastingModif form.formModifCasting p label { width:140px; }


.mask_overlay { display:none; position:absolute; background:#FFFFFF; left:0; left:0; top:0; z-index:0; cursor:wait;}


.popFenetre { position:absolute; left:50%; top:0; background-color:#FFF; z-index:500; color:#545454; /* font-size:1.2em; */ }
.newFenetre form a.fermer { float:right; padding:0; }
#popup { display:none; width:452px; height:319px; /*margin:0 0 0 -226px; top:252px;*/ }
#masque{ display:none; position:fixed; cursor:wait; position:absolute; /* hack for internet explorer 6*/ height:100%; width:100%; top:0; left:0; background:#000000; border:1px solid #cecece; z-index:1; }